<div class="container">
  <h2 class="text-center mb-3">Lista de Categorias</h2>

  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Estado</th>
      <th scope="col">Actualizado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories; let idx = index;">
      <th scope="row">{{ category.id }}</th>
      <th scope="row">{{ category.name }}</th>
      <th scope="row">{{ category.status === 1 ? 'Activado' : 'Desactivado' }}</th>
      <th scope="row">{{ category.updated_at | date: 'MM-d-yyyy' }}</th>
      <th scope="row">
        <button class="btn btn-primary" (click)="onUpdate(category.id)">Actualizar</button>
        <button class="btn btn-danger ml-2" (click)="onDelete(category.id)">Eliminar</button>
      </th>
    </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-center p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize">
    </ngb-pagination>
  </div>
</div>



